# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env
.venv
ENV/

# Distribution / packaging
dist/
build/
*.egg-info/

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo

# Project specific
data/
models/
vectors/
*.index
*.bin
.env*
logs/
embeddings/
docs/

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb_checkpoints/